<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title heading">
        <strong><%= t "log.modal.create" %></strong><span></span>
      </h4>
    </div>
    <%= form_for log, remote: true do |f| %>

      <% if log.errors.any? %>
      <ul>
        <% log.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name, "Tên" %>
          <%= f.text_field :name, class: "form-control",
            placeholder: "Please input your Name" %>
        </div>
        <div class="form-group">
          <%= f.label :adress, "Địa chỉ" %>
          <%= f.text_area :adress, class: "form-control",
            placeholder: "Please input your adress" %>
        </div>
        <div class="form-group">
          <%= f.label :money, "Số tiền" %>
          <%= f.number_field :money, class: "form-control",
            placeholder: "Please input money" %>
        </div>
        <div class="form-group">
          <%= f.label :money, "Thời gian" %>
          <%= f.datetime_select :datetime %>
        </div>
        <div class="form-group">
          <%= f.radio_button :status, :unsuccess, :checked => true %>
          <%= f.label :status, "Thất bại" %>
          <%= f.radio_button :status, :success %>
          <%= f.label :status, "Thanh cong" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Gui", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

