<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= t "frontend.company" %></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to t("frontend.home_page"), root_url %></li>
    </ul>
    <div class="col-sm-3 col-md-3">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control"
            placeholder="<%= t "frontend.search" %>" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to do %>
        <span class="glyphicon glyphicon-upload"></span>
          <%= t "frontend.new_log" %>
        <% end %>
      </li>
      <li><%= link_to do %>
        <span class="glyphicon glyphicon-user"></span> <%= t "frontend.sign_up"
          %>
        <% end %>
      </li>
      <li><%= link_to do %>
        <span class="glyphicon glyphicon-log-in"></span>
        <%= t "frontend.sign_in" %><% end %>
      </li>
    </ul>
  </div>
</nav>
